{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-8">
<h1>Welcome to Networker!</h1>
<p>Networker is an AI-powered networking assistant that helps you remember important details about the people you meet and guides you towards deeper, more meaningful conversations. Say goodbye to small talk and build more authentic relationships with ease.<br><br>
  Networker seeks to improve the way we network and communicate with others. By using OpenAI’s da-vinci algorithms (many of you will know their frontend as “ChatGPT”) combined with and Speechly’s Speech to Text and Google’s Text to Speech technology, this project aims to help people remember important details about the people they interact with, creating deeper and more fruitful relationships.
  </p>
<p>Networker Tutorial:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VqBEqaqCqEY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div></div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">

        <form role="form" method="post" action="">
        
          {{ form.hidden_tag() }} 

          <div class="card-header">
            <h5 class="title">Login</h5>

            <h6 class="card-category">
                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                <span>
                  Add your credentials
                </span>
                {% endif %}  
            </h6>
          </div>

          <div class="card-body">

              <div class="row">

                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>Username</label>
                    {{ form.username(class="form-control") }}
                  </div>
                </div>

              </div>
              <div class="row">

                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>Password</label>
                    {{ form.password(class="form-control", type="password") }}
                  </div>
                </div>

              </div>
              
          </div>
          <div class="card-footer">
            <button type="submit" name="login" id="login-button" class="btn btn-fill btn-primary">Login</button>
            &nbsp; &nbsp;
            Don't have an account? <a href="{{ url_for('authentication_blueprint.register') }}" class="text-primary">Create</a>
          </div>

        </form>

      </div>
    </div>
  </div>
<script>
// Hide the .PushtoTalkContainer
document.getElementsByClassName("PushtoTalkContainer")[0].style.display = "none";
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
